body {
 box-sizing: border-box;
 background-color: #2e2e2e;
}

* {
  background-color: #2e2e2e;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black
}


a:visited, a:hover {
  text-decoration: none ;
  color: black
}

.header {

  width:100%; min-width:1000px;
  height:150px;
  padding: 20px 0 0 0;

  text-align: center;


}

.logo-box {
  background-color: none;
  width: auto; height: 80%;
  position: relative;
  display: inline-block;
}
.logo-box img {
  width: auto; height: 100%;
  background-color: none;


}



.nav-bar {
  width: 75%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 70px 0  0  20px;



}

.nav-button {

  width: 15%; height: 40px;
  display: inline-block;
  margin: 0;
  text-align: center;




}
.nav-button h3 {
  font-size: 1.5em;
  margin: 0;
  background-color: white;
  line-height: 40px;
}

.nav--first h3{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}
.nav--last h3 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px
}



.social-bar {
  background: white;
  width: 15%;
  height: 25%;
  position: relative;
  left: 100%;
  transform: translateX(-110%) translateY(-550%);

}

.body {

  width:90%;
  min-height:200px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 25px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.content-box {

  width: 300px;
  height: 400px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 40px 20px;
  border-radius: 10px;
  /* box-shadow: 5px 5px #000000; */

  background-color: white;
  padding: 10px;

}

.content-title {
  color: #713DF5;
  font-size:1.2em;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  position: relative;
  width: 90%;
  height: 50px;
  bottom: 15px;
  background-color: white;
}

.article-content {
  max-height: 70%;
  margin: 1%;
  padding: 1%;
  position: relative;
  bottom: 30px;
  text-overflow: ellipsis;
  background-color: white;

  /* Required for text-overflow to do anything */
  /* white-space: nowrap; */
  overflow: hidden;

}

.article-post-date {
  position: relative;
  position: absolute;
  top: 93%;
  left: 2%;
  background-color: white;
}

.article-tag {
  position: relative;
  position: absolute;
  top: 88%;
  right: 2%;
  background-color: white;
}

.coming-soon {
  text-align: center;
}

.coming-soon-text {
  color: white;
}

.youtube-clickable{
  color: red;
}

/* .ribbon {
  position: absolute;
}

.ribbon-5 {
  width: 50%;
  height: 50px;
  background: #efb33b;
  top: 0px;
  left: 200px;
  transform: rotate(45deg);
}

.ribbon-5:before {
  content:"";
  position: absolute;
  bottom: -10px;
  left: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid #cd8e11;
  border-top: 5px solid #cd8e11;
  border-bottom: 5px solid transparent;
}

.ribbon-5:after {
  content:"";
  position: absolute;
  bottom: -10px;
  right: 0;
  border-left: 5px solid #cd8e11;
  border-right: 5px solid transparent;
  border-top: 5px solid #cd8e11;
  border-bottom: 5px solid transparent;
} */


.footer {
  /* background: blue; */
  width:100%;
  height:200px;
  border-radius: 15px;
}

.footer img {
  width:auto; height:50%;
  position: relative;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.social-box {
  /* outline: 1px dotted white; */
  width: 60%; height: 25%;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.social-img-container {
  /* outline: 1px dotted white; */
  height: 100%; width: 16%;
  display: inline-block;
  position: relative;
}

.social-img-container img {
  width: auto; height: 100%;
  position: relative;
}










/* end */
